<!DOCTYPE html>
<!-- Error stranica koja se pokazuje prilikom pretrage krivog sadržaja i nudi mogućnost povratka na Login stranicu-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0"> 
        <link rel="stylesheet"  href="{{ url_for('static', filename='styles/button.css') }}">
    </head>

    <body>
        <div class="error">
            <div class="card" style="width: 18rem;">
                <img src="{{ url_for('static', filename='images/404.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">404</h5>
                  <p class="card-text"></p>
                  <a href="{{ url_for('login') }}" class="btn btn-primary">POVRATAK NA POČETNU STRANICU</a>
                </div>
              </div>
        </div>
    </body>
</html>