<!-- Naslijeđivanje base.html i njezinih komponenti  -->
{% extends 'base.html' %}

<!-- Block dio, naslijeđen od base.html, u koji ide poveznica sa css-om  -->
{% block link_css %} <link rel="stylesheet"  href="{{ url_for('static', filename='styles/proizvodi.css') }}">{% endblock %}

<!-- Block dio, naslijeđen od base.html, u koji ide glavni sadržaj stranice Proizvodi  -->
{% block body %}

<!-- Bootstrap card za opise proizvoda  -->
<div class="card1">

    <div class="card-deck">
        <div class="card">
            <div class="text-center">
                <image  src="{{ url_for('static', filename='images/livada.jpg') }}" class="rounded" alt="..." width="100%" height="100%">
            </div>
          <div class="card-body">
            <h5 class="card-title">LIVADA</h5>
            <p class="card-text">Livadski med potjče od raznih cvijetnih vrsta <br> Okus i aroma mu variraju u zavisnosti koja biljna vrsta prevladava u medu. <br> 
                Livadski med je žućkaste do tamnocrvene boje, jačih mirisa i ukusa od bagremovog meda, a slabijeg od šumskog meda. <br> Ovaj med najčešći je početkom ljeta <br> 
                 Pomaže zdravom reguliranju bubrega i srca</p>
           
          </div>
        </div>
        <div class="card">
            <div class="text-center">
                <image  src="{{ url_for('static', filename='images/vrisak.jpg') }}" class="rounded" alt="..." width="100%" height="100%">
            </div>
          <div class="card-body">
            <h5 class="card-title">VRISAK</h5>
            <p class="card-text">Naš med od vriska nastaje na oboroncima Velebita na nadmorksoj visni od 1300m <br> Okus je istovremeno gorak i sladak. <br> Ublažuje prehladu i olašava disanje. <br>
                Općenito, ljudi koji uzimaju med od vriska imaju dosta bolji imunitet od drugih ljudi.<br> Najšešće se vrca krajem ljeta ili početkom jeseni.</p>
            
          </div>
        </div>
        <div class="card">
            <div class="text-center">
                <image  src="{{ url_for('static', filename='images/kadulja.jpg') }}" class="rounded" alt="..." width="100%" height="100%">
            </div>
          <div class="card-body">
            <h5 class="card-title">KADULJA</h5>
            <p class="card-text">Med od kadulje dobiva se iz cvijeta biljke kadulje koja je zbog svoje ljekovitosti stekla status svete biljke. <br>
                Med od kadulje vrca se uglavnom tijekom lipnja. <br>
                 Kaduljin med najčešće je svijetložute ili zelenkaste boje. Ugodnog je, pomalo gorkog okusa i jakog mirisa po kadulji <br> 
                 Med od kadulje miriši po cvijetu ove biljke te je vrlo ukusan. Vrlo je ljekovit sa snažnim antiseptičkim, umirujućim i antivirusnim djelovanjem. <br> 
                 Posebno je dobar za bolesti dišnih organa kao što su bronhitis i suhi kašalj jer potiče izbacivanje sluzi iz organizma. 
              </p>
           
          </div>
        </div>
      </div>


  </div>
<!-- Bootstrap card za opise proizvoda  -->
  <div class="card2">
    <div class="card-deck">
      <div class="card">
        <img src="{{ url_for('static', filename='images/propolis1.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PROPOLIS</h5>
          <p class="card-text">Propolis je mnogima omiljeno "čudo" iz prirode, bilo da se koristi kao kapi ili u spreju, jer je koristan za grlo, kad vas muči herpes ili kada se porežete. <br>
             Prirodna učinkovita zaštita zdravlja usne šupljine, gornjih dišnih putova, želuca, debelog crijeva… Sve je to propolis <br>
             Proizvodimo također i tekući propolis tj. otopinu propolisa koja se dobije otapanjem propolisa u 96% alkoholu.</p>
         
        </div>
      </div>
      <div class="card">
        <img src="{{ url_for('static', filename='images/pelud.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">PELUD</h5>
          <p class="card-text">Cvjetni prah ili cvjetna pelud je jedinstveni dar prirode, optimalno uravnotežen i upotpunjen omjer vrijednih prirodnih sastojaka. <br>
            Svako zrnce sadrži sve sastojke neophodne za zdrav život i normalan razvoj organizma: bjelančevine, vitamine (A, C, D, E i grupa vitamina B), minerale (Ca, Cl, Na, Fe, Mg, Si) , lipide, enzime, eter. ulja i vrijedne antibiotske tvari. <br>
             Pozitivno djeluje kod anemije i hipertenzije, umiruje preopterećeni živčani sustav i olakšava probleme probavnog sustava. <br>
              Izuzetne rezultate postiže u liječenju prostate.</p>
         
        </div>
      </div>
      <div class="card">
        <img src="{{ url_for('static', filename='images/medica.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">MEDICA</h5>
          <p class="card-text">Medica je prirodni tradicionalni alkoholni napitak, napravljen od meda i rakije. Spravlja se od domaće rakije <br>
            Medica je poznata još u doba Rimljana. <br> Dobiva se hladnom tehnologijom miješanja sastojaka rakije i meda pri čemu med zadržava svoja prirodna svojstva.
             <br> Sadržaj alkohola kreće se od 16-25%, ponekad i do 30%. Na litru rakije za dobivanje prave arome i boje treba između 1,5 i 2 kg 3-4 vrste meda. <br>
             Medicu je najbolje konzumirati rashlađenu blizu točke ledišta ili je poslužiti u dobro rashlađenoj čaši. Podjednako je dobar digestiv ili aperitiv.</p>
         
        </div>
      </div>
    </div>

  </div>

{% endblock %}